REACT_APP_SUPABASE_URL=https://vuksgkvsnxuvrndyzrdn.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1a3Nna3Zzbnh1dnJuZHl6cmRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcyNTQwMzcsImV4cCI6MjA4MjgzMDAzN30.C2J5EV4uyUyt4EyGrYXQ6b4mFEO-yyultbh-tZ5WdfQ
